html
    head 
        link(rel = "stylesheet" href = "/css/styles.cc")
    body 
        h1 Kim's Convenience 
        h2 Developed By
            ul
                li Ins Choi 
                li Kevin White 
        h2 Starring 
            ul 
                li Paul Sun-Hyung Lee 
                li Jean Yoon 
                li Andrea Bang 
                li Simu Liu 
                li Andrew Phung 
                li Nicole Power 
        h2 Seasons 
            ul 
                li Season 1
                li Season 2
                li Season 3
                li Season 4